  .custom-checkbox {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
  }

  .custom-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
  }

  .custom-checkbox label {
    position: absolute;
    top: 0; left: 0;
    width: 18px; height: 18px;
    background-color: #f8f9fa;
    border: 2px solid #bbb;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
  }

  .custom-checkbox label:hover {
    border-color: #dc3545;
  }

  .custom-checkbox input:checked + label {
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .custom-checkbox input:checked + label::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  #example1 thead th:first-child {
    background-image: none !important;  /* hilangkan ikon sort */
    cursor: default !important;          /* ubah cursor supaya tidak seperti bisa diklik */
 }
